.label-red {
  color: #f44336;
} /* label: bug */
.label-purple {
  color: #9c27b0;
} /* label: ui */
.label-deep-purple {
  color: #673ab7;
} /* label: feature-request */
.label-indigo {
  color: #3f51b5;
} /* label: copywriting */
.label-blue {
  color: #2196f3;
} /* label: help wanted */
.label-teal {
  color: #009688;
} /* label: question */
.label-green {
  color: #4caf50;
} /* label: documentation */
.label-light-blue {
  color: #03a9f4;
} /* label: enhancement */
.label-cyan {
  color: #00bcd4;
} /* label: refactoring */
.label-light-green {
  color: #8bc34a;
} /* label: production */
.label-lime {
  color: #cddc39;
} /* label: wontfix */
.label-yellow {
  color: #ffeb3b;
} /* label: request */
.label-amber {
  color: #ffc107;
} /* label: help-wanted */
.label-orange {
  color: #ff9800;
} /* label: duplicate */
.label-deep-orange {
  color: #ff5722;
} /* label: invalid */
.label-brown {
  color: #795548;
} /* label: events */
.label-gray {
  color: #9e9e9e;
} /* label: fixed in the next release */
.label-purple-a400 {
  color: #d500f9;
} /* label: release-list* */
.label-blue-gray {
  color: #607d8b;
} /* label: strategy */
.label-raspberry {
  color: #880e4f;
} /* label: chore */
